:root{
    --primary-color:#ff4d6d;
    --secondary-color:#ffffff;
}

body{
    background-image:url("photo/photo.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color:var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size:1.5rem;
    height:800px;
    text-align:center;
}

#bday-input{
    border:2px solid var(--primary-color);
    border-radius:0.5rem;
    font-size:1.5rem;
}

h1{
    font-size:3rem;
    margin-left:1rem;
    padding-top:13rem;
    text-align:center;
    text-shadow:3px 3px 0 var(--secondary-color);
}

footer{
    color:var(--primary-color);
    margin-bottom:0.5rem;
    margin-top:3rem;
    margin-left:1.5rem;
    padding-top:6rem;
    text-shadow:1px 1px 0 var(--secondary-color);
}
.footer-icon{
    margin:10px;
    color: var(--primary-color);
}

#result{
    font-weight:600;
    margin-top:1.5rem;
    text-shadow:3px 3px 0 var(--secondary-color);
}

#show-btn{
    background-color: var(--primary-color);
    border-radius:0.5rem;
    color:var(--secondary-color);
    font-size:1.4rem;
}
#show-btn:hover{
    box-shadow: 3px 3px var(--primary-color);
    cursor:pointer;
}
